<footer class="bg-dark text-white text-center text-lg-start">
    <div class="container p-4">
        <div class="row">
            <!-- About Us Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">About Us</h5>
                <p>
                    We are a company dedicated to providing the best services to our customers. Our mission is to make a
                    positive impact through technology and innovation.
                </p>
            </div>

            <!-- Links Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Services</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">About</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Contact</a>
                    </li>
                </ul>
            </div>

            <!-- Contact Column -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>Email: email&#64;gmail.com</p>
                    </li>
                    <li>
                        <p>Phone: +123 456 7890</p>
                    </li>
                    <li>
                        <p>Address: 1234 Street, Cairo, Egypt</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 bg-secondary">
        © 2024 Copyright:
        <a class="text-white" routerLink="Copyrights">My Copyrights.com</a>
    </div>
</footer>