.form-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-content {
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

input.form-control {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ddd;
}

.btn-primary {
    background-color: #0093c4;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #007b99;
}

.text-danger {
    font-size: 0.875rem;
}