<!-- Forgot Password Form -->
@if(!sendMailFlag) {
<div class="form-container">
    <div class="form-content">
        <h1 class="text-center mb-4">Forgot Password</h1>
        <form [formGroup]="sendMailForm" (ngSubmit)="sendMail(sendMailForm)">
            <!-- Email Input -->
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email address</label>
                <input formControlName="email" type="email" class="form-control" id="email"
                    placeholder="Enter your email">
                @if(sendMailForm.get('email')?.errors !== null && sendMailForm.get('email')?.touched) {
                <div class="text-danger mt-2">
                    @if(sendMailForm.get('email')?.errors?.['required']){<p>Email is Required</p>}
                    @if(sendMailForm.get('email')?.errors?.['email']){<p>Invalid Email</p>}
                </div>
                }
                @if(sendMailError !== '') {
                <div class="text-danger mt-2">
                    <p>{{sendMailError}}</p>
                </div>
                }
            </div>
            <!-- Submit Button -->
            <button [disabled]="sendMailForm.invalid" class="btn btn-primary btn-block">Send Mail</button>
        </form>
    </div>
</div>
}

<!-- Reset Code Form -->
@if(sendMailFlag && !verifyCodeFlag) {
<div class="form-container">
    <div class="form-content">
        <h1 class="text-center mb-4">Reset Code</h1>
        <form [formGroup]="verifyCodeForm" (ngSubmit)="verifyCode(verifyCodeForm)">
            <!-- Reset Code Input -->
            <div class="form-group mb-3">
                <label for="resetCode" class="form-label">Reset Code</label>
                <input formControlName="resetCode" type="text" class="form-control" id="resetCode"
                    placeholder="Enter reset code">
                @if(verifyCodeForm.get('resetCode')?.errors !== null && verifyCodeForm.get('resetCode')?.touched) {
                <div class="text-danger mt-2">
                    @if(verifyCodeForm.get('resetCode')?.errors?.['required']){<p>Reset Code is Required</p>}
                    @if(verifyCodeForm.get('resetCode')?.errors?.['maxlength']){<p>Invalid Reset Code</p>}
                </div>
                }
                @if(verifyCodeError !== '') {
                <div class="text-danger mt-2">
                    <p>{{verifyCodeError}}</p>
                </div>
                }
            </div>
            <!-- Submit Button -->
            <button [disabled]="verifyCodeForm.invalid" class="btn btn-primary btn-block">Verify Code</button>
        </form>
    </div>
</div>
}

<!-- Reset Password Form -->
@if(verifyCodeFlag) {
<div class="form-container">
    <div class="form-content">
        <h1 class="text-center mb-4">Reset Password</h1>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">
            <!-- Password Input -->
            <div class="form-group mb-3">
                <label for="password" class="form-label">Password</label>
                <input formControlName="password" type="password" class="form-control" id="password"
                    placeholder="Enter new password">
                @if(resetPasswordForm.get('password')?.errors !== null && resetPasswordForm.get('password')?.touched) {
                <div class="text-danger mt-2">
                    @if(resetPasswordForm.get('password')?.errors?.['required']){<p>Password is Required</p>}
                    @if(resetPasswordForm.get('password')?.errors?.['minlength'] ||
                    resetPasswordForm.get('password')?.errors?.['maxlength']){<p>Password length must be between 6 and
                        20 characters</p>}
                </div>
                }
            </div>
            <!-- Confirm Password Input -->
            <div class="form-group mb-4">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword"
                    placeholder="Confirm your password">
                @if(resetPasswordForm.get('confirmPassword')?.errors !== null &&
                resetPasswordForm.get('confirmPassword')?.touched) {
                <div class="text-danger mt-2">
                    @if(resetPasswordForm.get('confirmPassword')?.errors?.['required']){<p>Confirm Password is Required
                    </p>}
                    @if(resetPasswordForm.get('confirmPassword')?.errors?.['minlength'] ||
                    resetPasswordForm.get('confirmPassword')?.errors?.['maxlength']){<p>Confirm Password length must be
                        between 6 and 20 characters</p>}
                </div>
                }
                @if(resetPasswordError !== '') {
                <div class="text-danger mt-2">
                    <p>{{resetPasswordError}}</p>
                </div>
                }
            </div>
            <!-- Submit Button -->
            <button [disabled]="resetPasswordForm.invalid" class="btn btn-primary btn-block">Reset Password</button>
        </form>
    </div>
</div>
}