<!-- Search Bar -->
<div class="container mt-4">
  <form class="d-flex mx-auto" role="search" style="max-width: 600px;">
    <input (change)="searchProduct(searchInput.value)" #searchInput
      class="form-control me-2 rounded-pill border-primary" type="search" placeholder="Search for products..."
      aria-label="Search" style="width: 100%;">
  </form>
</div>

<div class="mt-4 d-flex justify-content-around align-items-center">
  <img src="images/best_seller.jpg" alt="best sellers">
</div>

<div class="row m-auto container mt-4">
  @for(product of products; track product.id) {
  <div class="card m-2 col-4" style="width: 18rem;">
    <img [src]="imgDomain+product.cover" class="card-img-top w-100 h-50" [alt]="product.name">
    <div class="card-body">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description}}</p>
      <p class="card-text">Price: {{product.price | currency}}</p>
      <p class="card-text">{{product.ratingAverage}} &star; : Ratings {{product.ratingCount}}</p>
      <div class="btn-card d-flex justify-content-start">
        <a [routerLink]="['/products',product._id]" class="btn btn-primary mx-1">See Details</a>
        <button (click)="addToCart(product._id)" routerLink="" class="btn btn-success mx-1">Add to Cart</button>
      </div>
    </div>
  </div>
  }
</div>